<div class="content-heading">
    <div>Sistema de facturación
        <small>A feature-rich yet lightweight data-table crafted for Angular4 and beyond!</small></div>
</div>

<div class="card card-default">
    <div class="card-header">
        <div class="card-title">Listado de clientes</div>
    </div>
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-lg-4">
                <input type='text' class="form-control" placeholder='Búsqueda..' (keyup)='updateFilter($event)' />
            </div>
        </div>
        <ngx-datatable #table class='bootstrap no-detail-row' [columns]="columns" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rowsFilter'>
        </ngx-datatable>
    </div>
</div>

