<table class="table table-hover">
  <thead class="thead-light">
    <th>#Nro. Factura</th>
    <th>Cliente</th>
    <th>Forma Pago</th>
    <th>Total</th>
    <th>
      <a class="btn btn-sm btn-success text-white" routerLink="/factura"><i class="fa fa-plus-square"></i>  Nuevo</a>
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let factura of (this.ListaFacturas$ | async) as ListaFacturas">
      <th (click)="editarFactura(factura.facId)">{{factura.facNro}}</th>
      <td (click)="editarFactura(factura.facId)">{{factura.Cliente}}</td>
      <td (click)="editarFactura(factura.facId)">{{factura.fpaNombre}}</td>
      <td (click)="editarFactura(factura.facId)">{{factura.facTotal}}</td>
      <td>
          <a class="btn text-danger" (click)="eliminarFactura(factura.facId)" ><i class="fa fa-trash fa-lg"></i></a>
      </td>
    </tr>
  </tbody>
</table>
