<div class="content-heading">
    <div>Listado de Clientes</div>
    <button class="btn btn-primary ml-auto" type="button">
        <em class="fa fa-plus-circle fa-fw mr-1"></em>
        Nuevo Cliente
    </button>
</div>

<div class="card card-default">
    <div class="card-header">
        <!-- <div class="card-title">Listado de clientes</div> -->
    </div>
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-lg-4">
                <input type='text' class="form-control" placeholder='Búsqueda..' (keyup)='updateFilter($event)' />
            </div>
        </div>
        <ngx-datatable #table class='bootstrap no-detail-row' [columns]="columns" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rowsFilter'>
        </ngx-datatable>
    </div>
</div>

