<div class="item user-block" *ngIf="userBlockIsVisible()">
    <!-- User picture-->
    <div class="user-block-picture">
        <div class="user-block-status">
            <img class="img-thumbnail rounded-circle" [src]="user.picture" alt="Avatar" />
            <div class="circle bg-success circle-lg"></div>
        </div>
    </div>
    <!-- Name and Job-->
    <div class="user-block-info">
        <span class="user-block-name">Hola</span>
        <span class="user-block-name">Maximiliano Guercio</span>
        <span class="user-block-role">Gestor de Innovacion</span>
    </div>
    <div class="user-block-info" style="margin-top: 20px">
        <span style="color:green" class="user-block-name">EMAIL</span>
        <span class="user-block-name">mguercio@empresa.com</span>
        <span style="color:green" class="user-block-name">DEPARTAMENTO</span>
        <span class="user-block-name">Empresa S.A</span>
        <span style="color:green" class="user-block-role">SUPERVISOR</span>
        <span class="user-block-name">Juana Pérez</span> adasdasd
    </div>
</div>