
<div [ngSwitch]="alerta">
  <div *ngSwitchCase="'success'">success</div>
  <div *ngSwitchCase="'info'">info</div>
  <div *ngSwitchCase="'warning'">warning</div>
  <div *ngSwitchDefault>danger</div>
</div>

<button type="button" 
        class="btn btn-primary"
        (click)="alerta = random_item(colores)">cambiar</button>
<br>
<br>
<div [ngSwitch]="alerta">
  <div class="alert alert-primary" *ngSwitchCase="'primary'" role="alert">
    This is a primary alert—check it out!
  </div>
  <div class="alert alert-secondary"  *ngSwitchCase="'secondary'" role="alert">
    This is a secondary alert—check it out!
  </div>
  <div class="alert alert-success" *ngSwitchCase="'success'" role="alert">
    This is a success alert—check it out!
  </div>
  <div class="alert alert-danger" *ngSwitchCase="'danger'" role="alert">
    This is a danger alert—check it out!
  </div>
  <div class="alert alert-warning" *ngSwitchDefault role="alert">
    This is a warning alert—check it out!
  </div>
  <div class="alert alert-info" *ngSwitchCase="'info'" role="alert">
    This is a info alert—check it out!
  </div>
  <div class="alert alert-light" *ngSwitchCase="'light'" role="alert">
    This is a light alert—check it out!
  </div>
  <div class="alert alert-dark" *ngSwitchCase="'dark'" role="alert">
    This is a dark alert—check it out!
  </div>
</div>